* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  overflow: hidden;
}

.container {
  height: 70vmin;
  width: 70vmin;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.container__text {
  height: 200px;
  width: 400px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__text .text__title, .container__text .text__subtitle {
  background: -webkit-linear-gradient(#dfc26a, #c99d1c, #423412, #c99d1c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.snake {
  height: 90%;
  width: 90%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 8px solid transparent;
  text-decoration: none;
  display: inline-block;
  color: #6e5c0c;
  padding: 0 2px;
  -webkit-transition: height 1s, width 1s;
  transition: height 1s, width 1s;
}

.snake::before, .snake::after {
  content: '';
  position: absolute;
  opacity: 0;
}

.snake::before {
  top: 0;
  left: 0;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-animation: 1.1s first-borders linear forwards;
          animation: 1.1s first-borders linear forwards;
}

.snake::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -webkit-animation: 1.1s last-borders linear forwards 1.1s;
          animation: 1.1s last-borders linear forwards 1.1s;
}

@-webkit-keyframes first-borders {
  0% {
    opacity: 1;
    top: -2px;
    left: 0;
    width: 0;
    width: 0;
  }
  50% {
    top: -2px;
    left: 0;
    width: 100%;
    height: 0;
  }
  100% {
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes first-borders {
  0% {
    opacity: 1;
    top: -2px;
    left: 0;
    width: 0;
    width: 0;
  }
  50% {
    top: -2px;
    left: 0;
    width: 100%;
    height: 0;
  }
  100% {
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes last-borders {
  0% {
    opacity: 1;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
  }
  50% {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
  }
  100% {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes last-borders {
  0% {
    opacity: 1;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
  }
  50% {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
  }
  100% {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes snake {
  0% {
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  20% {
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #8f5b0e;
  }
  40% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #8f5b0e;
  }
  60% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid #8f5b0e;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #8f5b0e;
  }
  80% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid #8f5b0e;
    border-bottom: 8px solid #8f5b0e;
    border-right: 8px solid #8f5b0e;
  }
  100% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid #8f5b0e;
    border-bottom: 8px solid #8f5b0e;
    border-right: 8px solid #8f5b0e;
  }
}

@keyframes snake {
  0% {
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  20% {
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #8f5b0e;
  }
  40% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #8f5b0e;
  }
  60% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid #8f5b0e;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #8f5b0e;
  }
  80% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid #8f5b0e;
    border-bottom: 8px solid #8f5b0e;
    border-right: 8px solid #8f5b0e;
  }
  100% {
    border-top: 8px solid #8f5b0e;
    border-left: 8px solid #8f5b0e;
    border-bottom: 8px solid #8f5b0e;
    border-right: 8px solid #8f5b0e;
  }
}
/*# sourceMappingURL=styles.css.map */