@mixin flex ( $direction, $justify, $align ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    @include flex ( row, center, center );
    background-color: #000;
    overflow: hidden;
}

.container {
    height: 70vmin;
    width: 70vmin;
    transform: rotate( 45deg );
    color: greenyellow;
    @include flex ( row, center, center );
    transition: opacity .5s;
    
    &__text {
        height: 200px;
        width: 400px;
        transform: rotate( -45deg );
        @include flex (column, center, center);
        
        .text {
            &__title, &__subtitle {
                background: -webkit-linear-gradient( #dfc26a,  #c99d1c, #423412, #c99d1c);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;              
            }
        }
    }
}

.snake {
    height: 90%;
    width: 90%;
    position: absolute;
    @include flex ( row, center, center );
    border: 8px solid transparent;
    text-decoration: none;
    display: inline-block;
    color: rgb(110, 92, 12);
    padding: 0 2px;
    transition: height 1s, width 1s;    

    &::before, &::after {
      content: '';
      position: absolute;
      opacity: 0;
      // animation: 0 none;

    }
    &::before {
      top: 0;
      left:0;
      border-top: 2px solid;
      border-right: 2px solid;
      animation: 1.1s first-borders linear forwards;
    }

    &::after {
      bottom: 0;
      right:0;
      border-bottom: 2px solid;
      border-left: 2px solid;
      animation: 1.1s last-borders linear forwards 1.1s;
    }
}

@keyframes first-borders {
    0% {
      opacity: 1;
      top: -2px;
      left: 0;
      width:0;
      width: 0;
    }
    50% {
      top: -2px;
      left: 0;
      width: 100%;
      height: 0;
    }
    100% {
      top: -2px;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
    }
}

  @keyframes last-borders {
    0% {
      opacity: 1;
      bottom: 0;
      right: 0;
      height: 0;
      width: 0;
    }
    50% {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 0;
    }
    100% {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
    }
}
















// .snake__fade-in {animation: snake 8s 1 linear forwards;}
@keyframes snake {
    0% { 
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid transparent;
    }
    20% { 
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgb(143, 91, 14);
    }
    40% { 
        border-top: 8px solid rgb(143, 91, 14);
        border-left: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgb(143, 91, 14);
    }
    60% { 
        border-top: 8px solid rgb(143, 91, 14);
        border-left: 8px solid rgb(143, 91, 14);
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgb(143, 91, 14);
    }
    80% { 
        border-top: 8px solid rgb(143, 91, 14);
        border-left: 8px solid rgb(143, 91, 14);
        border-bottom: 8px solid rgb(143, 91, 14);
        border-right: 8px solid rgb(143, 91, 14);
    }
    100% {
        border-top: 8px solid rgb(143, 91, 14);
        border-left: 8px solid rgb(143, 91, 14);
        border-bottom: 8px solid rgb(143, 91, 14);
        border-right: 8px solid rgb(143, 91, 14);
    }
}



// .snake__6{
//     height: 30vmin;
//     width: 30vmin;
// }
// .snake__5{
//     height: 37vmin;
//     width: 37vmin;
// }
// .snake__4{
//     height: 44vmin;
//     width: 44vmin;
// }
// .snake__3{
//     height: 51vmin;
//     width: 51vmin;
// }
// .snake__2{
//     height: 58vmin;
//     width: 58vmin;
// }
// .snake__1{
//     height: 65vmin;
//     width: 65vmin;
// }