$background-color: #000;
$text-gradient1: #dfc26a;
$text-gradient2: #c99d1c;
$text-gradient3: #423412;
$text-gradient4: #c99d1c;
$snake-border-color: rgb(110, 92, 12);

$snake-border-width: 2px;
$snake-animation-delay: 1.1s;