@import './_mixins';
@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    @include flex ( row, center, center );
    background-color: $background-color; 
    overflow: hidden;
}

.container {
    height: 70vmin;
    width: 70vmin;
    transform: rotateY( 180deg ) rotate(-135deg);
    @include flex ( row, center, center );
    transition: opacity $container-opacity-transition;
    
    &__text {
      position: absolute;
        height: 200px;
        width: 400px;
        transform: rotateY( 180deg ) rotate( -135deg );
        @include flex (column, center, center);
        
        .text {
            &__title, &__subtitle , &__loading{
                background: -webkit-linear-gradient( $text-gradient1,  $text-gradient2, $text-gradient3, $text-gradient4);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;              
            }

            &__title {
              padding: 10px 0;
              font-size: 2rem;
            }
        }
    }
}

.snake {
    position: absolute;
    @include flex ( row, center, center );
    border: 8px solid transparent;
    text-decoration: none;
    display: inline-block;
    color: $snake-border-color;
    padding: 0 2px;
    transition: height $snake-size-transition, width $snake-size-transition;    

    &::before, &::after {
      content: '';
      position: absolute;
      opacity: 0;
    }

    &::before {
      top: 0;
      left:0;
      border-top: $snake-border-width solid;
      border-right: $snake-border-width solid;
      animation: $snake-animation-delay first-borders linear forwards;
    }

    &::after {
      bottom: 0;
      right:0;
      border-bottom: $snake-border-width solid;
      border-left: $snake-border-width solid;
      animation: $snake-animation-delay last-borders linear forwards $snake-animation-delay;
    }
}

@keyframes first-borders {
    0% {
      opacity: 1;
      top: -$snake-border-width;
      right: 0;
      width: 0;
      height: 0;
    }
    50% {
      top: -$snake-border-width;
      right: 0;
      width: 100%; 
      height: 00%;
    }
    100% {
      top: -$snake-border-width;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
    }
}

@keyframes last-borders {
  0% {
    opacity: 1;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
  }
  50% {
    bottom: 0;
    right: 0;
    height: 0%;
    width: 100%;
  }
  100% {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
